{{> head }}
{{> navbar }}


<div class="container row">
    <div class="col-8"><h1>Hola</h1></div>
    <div class="col-4">
        <img src="assets/img/constancia-utsv.jpg" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer }}